
* {
	margin:0;
	padding:0;
}

html { 
	overflow-y:scroll; 
	overflow-x:hidden;
	 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	/* min-width:1080px; */
	height:100%;
}

body {
	/* background: url('../img/backgrounds/bg_3.png'); */
	background-color: #1F1E1E;
}

.full_height_page {
	height: 100%;
}

#page1 {
	background: rgb(253, 239, 36);
}

#page3 {
	background: rgb(237, 237, 237);
	padding: 5% 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(253, 239, 36);
	padding-left: 1%;
	z-index: 99;
}

nav ul {
	list-style:none;
	font-size: 0;
	border-collapse: separate;
}

nav ul li {
	display: inline-block;
	padding: 15px 10px;
	padding: 0.9em 0.6em;
	position:relative;
	font-size: 16px;
	font-size: 1rem;
	transition: background 0.0s;
}

nav ul li:hover {
	background:  #1F1E1E;
	/* box-shadow: 0 0 5px rgb(34, 123, 95); */
}

nav a { 
	color: rgb(31, 30, 30);
	font-family: Lato, sans-serif;
	font-size: 1em;
	text-decoration: none;
	outline: 0;
	transition: border-bottom-color 0.8s;
	border-bottom: 2px solid rgba(31, 30, 30, 0) !important;
}

.current_link {
	border-bottom-color: rgba(31, 30, 30, 1) !important;
}

nav ul li:hover a {
	color: rgb(236, 236, 236);	
}

#name_container {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

#name {
	position: relative;
	font-size: 6em; 
	/* font-family: 'Lobster Two', cursive; */
	font-family: 'Oswald', sans-serif;
	color: rgb(236, 222, 7);
	opacity: 0;
	transition: opacity 0.8s;
}

#load_name {
	content: attr(data-text);
	position: absolute;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(31, 30, 30);
    opacity: 0;

}

.animate_title {
	-webkit-animation: loading 2s linear; 
    animation: loading 2s linear; 
}

@-webkit-keyframes loading { 
    0% {
        max-width: 0;
    }
} 

@keyframes loading { 
    0% {
        max-width: 0;
    }
} 

#header_button_wrapper {
	width: 2%;
    opacity: 0;
    margin: 0 auto;
}

#header_button {
	max-width:100%;
    height:auto;
	cursor: pointer;
	opacity: 1;
}

.animate_welcome {
	-webkit-animation: pulse 2s 1.5s;
    animation: pulse 2s 1.5s;
}

.css-typing{
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 1.5s steps(50, end);
    animation: type 1.5s steps(50, end);
}

@keyframes type {
    from { width: 0; }
}

@-webkit-keyframes type {
    from { width: 0; }
}

@keyframes pulse {
    0% {
    	opacity: 1;
    }
    25% {
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    75% {
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
}

@-webkit-keyframes pulse {
    0% {
    	opacity: 1;
    }
    25% {
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
    75% {
    	opacity: 0;
    }
    50% {
    	opacity: 1;
    }
}

#welcome_text {
	font-size: 1.8em;
	color: #1F1E1E;
	/* font-family: "Source Sans Pro Light", "Source Sans Pro"; */
	font-family: Lato, sans-serif;
	font-weight: lighter;
	margin: 1.5% auto 3%;
	opacity: 0;
	width: 11em;
}

/* ------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------  PAGE 2 STYLES -----------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------*/

.circles_wrapper {
	margin: 6% 0;
}

/*
	opacity: 0;
	transition: opacity 0.8s;
}

.content_box:hover + .circles_wrapper {
	opacity: 1;
}
*/

.circles {
	width: 6px;
	height: 6px;
	background: rgb(253, 239, 36);
	border-radius: 50%;
	margin: 0 auto 8px;
}

.highlight {
	color: rgb(253, 239, 36);
}

.content_box {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.content_box > .bordered_content {
	/* float: left; */
	margin: 0 auto;
}

.bordered_content {
	padding: 0.5em 0;
}

.left_content {
	width: 50%;
	padding:0 4%;
}

.right_content {
	width: 50%;
	padding:0 4%;
}

.about_headline {
	font-size: 1.4em;	
	font-family: 'Roboto Slab', serif;
	color: rgb(237, 237, 237);
}

.about_paragraph {
	font-size: 1.4em;	
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
}


.extra_info {
	background: 50%/contain no-repeat url(../img/icons/books.svg);
	display: none;
}

.extra_info p{
	opacity: 0;
	transition: opacity 0.8s;
}

.content_box:hover > .extra_info p {
	opacity: 1;
}

.extra_info .about_paragraph {
	font-size: 1.05em;
}


/* ------------------------------------------------------------------------------------------------------------------*/
/* ---------------------------------------------  PAGE 3 STYLES -----------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------*/

#gallery_wrapper {
	width: 80%;
	margin: 0 auto;
}

ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig > li {
	display: inline-block;
	padding: 8px;
	margin: 0 0 2.5% 2.5%;
	font-size: 16px;
	font-size: 0.8rem;
	font-family: "Roboto", sans-serif;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition: all 0.8s;
	overflow: hidden;
	position: relative;
}

ul.rig > li::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: top 0.8s;
}

ul.rig > li:hover::before {
	top: -100%;
}

ul.rig > li > img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;	
}

.portrait {
	display: none;
}

ul.rig > li > h3 {
	margin: 0 0 3px;
	color: rgb(31, 30, 30);
	font-weight: normal;
}
ul.rig > li > p {
	font-size: .9em;
	line-height: 1.5em;
	color: rgb(31, 30, 30);
	position: relative;
	transition: all 0.4s;
	bottom: -50px;
}

ul.rig li:hover p {
	bottom: 0;
}

/* class for 2 columns */
ul.rig.columns-2 > li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 > li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 > li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
	ul.grid-nav > li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav > li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig > li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}

ul.project_type_list {
	position: absolute;
}

