
@font-face{ 
	font-family: 'PT-Serif Bold';
	src: url('fonts/ptserif_bold/PTF75F-webfont.eot');
	src: url('fonts/ptserif_bold/PTF75F-webfont.eot?iefix') format('eot'),
	     url('fonts/ptserif_bold/PTF75F-webfont.woff') format('woff'),
	     url('fonts/ptserif_bold/PTF75F-webfont.ttf') format('truetype'),
	     url('fonts/ptserif_bold/PTF75F-webfont.svg#webfont') format('svg');
}

* {
	margin:0;
	padding:0;
}

html { 
	overflow-y:scroll; 
	overflow-x:hidden;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #F0F3BD;
	font-size: medium;
}

#site_banner {
	width: 84%;
	margin-left: 5.5%;
   margin-top: -3.9%;
}

nav {  
   text-align: end;
   margin-right: 2.5%;
   padding-top: 1%;
}

nav ul {
	list-style:none;
	overflow:hidden;
}

nav ul li {
	text-transform: lowercase;
   padding: 1em 0.8em;
   position: relative;
   display: inline-block;
}

nav a { 
   color: #404746;
   font-size: 1.4em;
   text-decoration: none;
   outline: 0;
	font-family: "PT Serif", 'PT-Serif Bold';
   font-weight: bold;
   position: relative;
}

nav a:before  {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: -17.4%;
	width: 0;
	height: 2px; 
	background-color: #02C39A;
	transition: all 0.6s;
}

nav a:hover:before {
	left: 0;
	width: 50%;
}

nav a:after  {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: -17.4%;
	width: 0;
	height: 2px; 
	background-color: #02C39A;
	transition: width 0.6s;
}

nav a:hover:after {
	width: 50%;
}

@media only screen and (max-device-width: 480px) {

	nav {
		width: 95% !important;
		margin: 2% auto 3%;
	}
	
	nav ul li {
		width: 19.5%;
		text-align: center;
		padding: 1em 0
	}
	
	nav a {
		font-size: 2em;
	}

	#site_banner {
		width: 96% !important;
		margin: 3% 2% 0 !important;
	}

}

