

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
   
	#header_div {
		width:90%;
	}
	
	#header_div header figure {
		left: 1%;
		width:460px;
	}
	
	#header_div nav {
		right:7%;
	}
	
	#header_div nav  a{
		font-size:1.45em;
	}
	
	nav li:hover a {
		border-bottom-width: 2px;
	}
	
	nav ul li {
		margin-left:15px;
	}
	
	hr {
		border-width:1px;
	}
	
}