

* {
	margin:0;
	padding:0;
}

html { 
	overflow-y:scroll; 
	overflow-x:hidden;
	 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body { 
	margin-bottom:0;
	font-size: medium;
	background-color: #FFF;
}

.author {
    margin-bottom: -14px;
    margin-top: 0.9%;
    font-size: 3.2em;
    margin-left: 3%;
    font-family: 'Courgette', cursive;
    font-family: 'Yesteryear', cursive;
    font-weight: normal;
}

.left-menu {
   position: fixed;
   width: 12%;
   left: 3%;
}
.left-menu ul {
	font-size: 2.5em;
   list-style: none;
} 
.left-menu ul li a {
	text-decoration: none;
	color: #C8C8C8;
}	

.main_container {
	position: relative;
   padding: 2.7% 15% 0;
   border-top: 2px solid #000;
}

nav {  
   text-align: end;
   position: fixed;
   width: 8%;
   right: 1.5%;
}

nav ul {
	list-style:none;
	overflow:hidden;
}

nav ul li {
	position: relative;
	text-transform: lowercase;
   padding: 0.7em 0.5em 0.7em 2.2em;
   background: #FFDE00;
   margin-bottom: 0.3em;
   cursor: pointer;
   margin-left: 1em;
}

nav ul li:before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	background: #000;
	width: 20%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.4s all;
}

nav ul li:hover:before {
	left: -10%;
}

nav a { 
   color: #000;
   font-size: 1em;
   text-decoration: none;
   outline: 0;
}

nav a:before  {
	content: "";
	display: none;
	position: absolute;
	left: 50%;
	bottom: -17.4%;
	width: 0;
	height: 2px; 
	background-color: #C0C0C0;
	transition: all 0.6s;
}

nav a:hover:before {
	left: 0;
	width: 50%;
}

nav a:after  {
	content: "";
	display: none;
	position: absolute;
	left: 50%;
	bottom: -17.4%;
	width: 0;
	height: 2px; 
	background-color: #C0C0C0;
	transition: width 0.6s;
}

nav a:hover:after {
	width: 50%;
}

ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig > li {
	display: inline-block;
	padding: 4%;
	margin: 0 0 5% 2.5%;
	font-size: 0.8rem;
	font-family: "PT Serif", sans-serif;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: #FFDE00;
	background-color: #F5F5F5;
	cursor: pointer;
}

ul.rig > li > a  > img {
	max-width: 100%;
	height: auto;
}

ul.rig li:hover p {
	bottom: 0;
}

ul.rig.columns-1 > li {
	width: 100%; /* this value + 2.5 should = 50% */
}

/* class for 2 columns */
ul.rig.columns-2 > li {
	width: 47.5%; /* this value + 2.5 should = 50% */
	margin: 0 0 5% 2.5%;
}
/* class for 3 columns */
ul.rig.columns-3 > li {
	width: 30.5%; /* this value + 2.5 should = 33% */
	margin: 0 0 5% 2.5%;
}
/* class for 4 columns */
ul.rig.columns-4 > li {
	width: 22.5%; /* this value + 2.5 should = 25% */
	margin: 0 0 5% 2.5%;
}

.circle {
	position: relative;
	overflow: hidden;
}

.circle::before {
	content: "";
	display: block;
	position: absolute;
	z-index: 998;
	top: 0;
	left: -60%;
	height: 100%;
	width: 50%;
	background: #FFF;
	opacity: 0.95;
	transition: all 0.5s;
}

.circle::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 998;
	top: 0;
	right: -60%;
	height: 100%;
	width: 50%;
	background: #FFF;
	opacity: 0.95;
	transition: all 0.5s;
}

.circle > .project_desc {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 999;
	transform: translateX(-50%) translateY(-50%);
	color: #000;
	opacity: 0 !important;
}

.project_desc > h3 {
	font-size: 2.2em;		
	margin-bottom: 8%;
}

.project_desc > p {
	color: #000;
	font-size: 1em;
	margin-bottom: 15%;
	display: none;
}

.project_desc > img {
	width: 19%;
	cursor: pointer;
}

/*
.circle:hover > .project_desc {
	transition-delay: 0.4s;
	opacity: 1 !important;
}

.circle:hover:before {
	left:0; 
}

.circle:hover:after {
	right:0; 
}
*/

a.fancybox img {
	border: none;
} 

.lb-hide {
	display: none !important;
}

 
 @media only screen and (max-device-width: 480px) { 
 
   nav {
		width: 100%;
	}
	
	nav ul li {
		width: 19.5%;
		text-align: center;
		padding: 1em 0;
	}
	
	nav a {
		font-size: 2em;
	}
	
	ul.rig {
		margin-left: 0% !important;
	}

	ul.rig.columns-3 > li {
		width: 100% !important;
      margin: 4% 0;
      padding: 0 5%;
	}	
	
	.project_desc > h3 {
		font-size: 6.5em;
	}
	
	.project_desc > p {
		font-size: 3em;
	}
	
	.project_desc > img {
		width: 23%;
	}
 
}

.testing_fonts {
	font-family: "PT Serif";
	font-family: 'News Cycle', sans-serif;      /*here-maybe*/
	font-family: 'Slabo 27px', serif;				/*here*/
	font-family: 'Abel', sans-serif;					/*here*/
	font-family: 'Archivo Narrow', sans-serif;	/*here*/
}
 

