
body {
	background-color: #F0F3BD;
}

nav {  
   text-align: end;
   margin-bottom: 4%;
   margin-right: 2.5%;
   padding-top: 1%;
}

nav ul {
	list-style:none;
	overflow:hidden;
}

nav ul li {
	text-transform: lowercase;
   padding: 1em 0.8em;
   position: relative;
   display: inline-block;
}

nav a { 
   color: #404746;
   font-size: 1.4em;
   text-decoration: none;
   outline: 0;
   font-family: "PT Serif";
   font-weight: bold;
   position: relative;
}

nav a:before  {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: -17.4%;
	width: 0;
	height: 2px; 
	background-color: #02C39A ;
	transition: all 0.6s;
}

nav a:hover:before {
	left: 0;
	width: 50%;
}

nav a:after  {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	bottom: -17.4%;
	width: 0;
	height: 2px; 
	background-color: #02C39A ;
	transition: width 0.6s;
}

nav a:hover:after {
	width: 50%;
}

#resume_div {
	margin: 2em auto;
	width:90%;
	color: #404746;
	font-family: "PT Serif";
	text-align:left;
	padding-top: 1%;
	overflow: hidden;
}

#resume_div section{
	margin-bottom: 7.1%;
}

#resume_div section h2{
	margin: 7% auto 1.2em;
	font-size: 1.8em;
	font-weight: bold;
	text-align:center;
}

#resume_div .center section h2 {
	margin-top: 2.8%;
	margin-bottom: 1.3em;
}

#resume_div p {
	color: rgb(64, 71, 70);
}

.title_ul{
	list-style:none;
}

.description_ul {
	padding-bottom:0px;
}

.description_ul > li {	
	list-style: square;
	margin-left: 6.1%;
	list-style-position: outside;
	margin-bottom: 10.6%;
   margin-right: 2%;
}

.center .description_ul > li {
	margin-bottom: 6.2%;
	margin-left: 5%
}

.description_ul li  p:first-of-type {
	line-height: 156.5%;
}

.description_ul li  p {
	padding-left: 2%;
}

.description_ul > li > ul  {
	list-style: circle;
}	

.description_ul > li > ul > li {
	margin-bottom: 3%;
	margin-left: 6%;
}	

.item_title {
	padding-left: 0px !important;
   font-weight: bolder;
   color: #02C39A !important;
   font-size: 1.15em;
   margin-bottom: 1.65%;	
}

.wrap {
  width: 100%;
}

.left {
	float: left;
	width: 24%;
}

.center { 
	float: left;
	margin: 0 2%; 
	width: 48%;
	padding: 0 2%;
	border-left: 2px dashed rgb(64, 71, 70);
	border-right: 2px dashed rgb(64, 71, 70);
	box-sizing: border-box;
}

.right {
	float: right;
	width: 24%;
}

.resume_icon {
	width: 100%;
	text-align: center;
}

.resume_icon > img {
	transform: scale(0);
	transition: transform 0.8s;
	-webkit-transition: transform 0.8s;
}

.left .resume_icon > img,
.right .resume_icon > img,
.center .resume_icon > img {
	max-height: 115px;
	width: 100%;
}	

@media only screen and (max-device-width: 480px) {

	nav {
		width: 95%;
		margin: 2% auto 3%;
	}
	
	nav ul li {
		width: 19.5%;
		text-align: center;
		padding: 1em 0
	}
	
	nav a {
		font-size: 2em;
	}
	
	#resume_div {
		width: 90%;
		margin: 2em auto 6em;
	}
	
	#resume_div section h2 {
		font-size: 7em;
		margin-bottom: 0.5em;
		margin-top: -1% !important;
	}
	
	.item_title {
		font-size: 3em;
	}	

	.description_ul li p {
		font-size: 1.7em;
	}
	
	.description_ul > li {
		margin-bottom: 7%;
		margin-left: 4.1%;
	}
	
	.center .description_ul > li  {
		margin-left: 0% !important;
		margin-right: 0% !important;
	}
	
	.center .description_ul > li {
		margin-bottom: 15%;
	}
	
	.left, .center, .right {
		width: 100% !important;
	}	
	
	.center {
		float: left;
		border-top: 5px dashed rgb(64, 71, 70);
		border-bottom: 5px dashed rgb(64, 71, 70);
		border-left: 0px solid red !important;
		border-right: 0px solid red !important;
		padding: 15% 0% 2.5% !important;
		margin: 10% 0 !important;
	}
	
	.left .resume_icon > img, .right .resume_icon > img, .center .resume_icon > img {
		max-height: 280px !important;
	}

	#skills .resume_icon {
		margin-top: 5% !important;
	}

}
