
body, html { 
	width:100%;
}

#header_div { 
	top:20px;
	border:none; 
}

nav { background:none; }

nav ul li { 
	color:#2b2b2b; 				
}

nav ul li:hover {
	background: #2b2b2b;
	color:#f6f6f6;
}

nav a {
	font-size:20px;
	letter-spacing:0;
	border-bottom:2px solid #2b2b2b;
}

nav ul li:hover a {
	border-bottom-color:#f6f6f6;
}